*{
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}


body {
    font-family: Roboto, sans-serif;
    margin: 20 auto;
}